/* ====================
	CSS Reset
==================== */*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* Resets default margin to give control over browsers' default margins */
body {
    margin: 0;
}

/* Makes images responsive to avoid spacing issues */
img {
    display: block;
    max-width: 100%;
}

/* Removes the default spacing in lists */
ul,
ol {
    padding: 0;
    margin: 0;
}


/* ====================
    Locally Hosted Fonts
==================== */
@font-face {
    font-family: "Geist Sans";
    src: url("../fonts/geist-sans-latin-300-normal.woff2") format("woff2"),
         url("../fonts/geist-sans-latin-300-normal.woff") format("woff"),
         url("../fonts/geist-sans-latin-300-normal.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Geist Sans";
    src: url("../fonts/geist-sans-latin-600-normal.woff2") format("woff2"),
         url("../fonts/geist-sans-latin-600-normal.woff") format("woff"),
         url("../fonts/geist-sans-latin-600-normal.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Geist Sans";
    src: url("../fonts/geist-sans-latin-800-normal.woff2") format("woff2"),
         url("../fonts/geist-sans-latin-800-normal.woff") format("woff"),
         url("../fonts/geist-sans-latin-800-normal.ttf") format("truetype");
    font-weight: 800;
}


/* ====================
	Base Styles
==================== */
body {
    font-family: "Geist Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 16px; /* Base font size */
    font-weight: 300;
    color: #222;

    background-color: #fff;
}

/* Added padding only to the left side of ul/ol lists so bullets don't push into the left margin */
ul,
ol {
    padding-left: 30px;

    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em;

    line-height: 1.2;
}


/* ====================
	Typography
==================== */
/* Increased h1, h2, and h3 font sizes for improved hierarchy */
h1 {
    font-size: 3.5em;
}

/* Added color to h2 headings to add visual interest & make them stand out */
h2 {
    font-size: 2.5em;
    color: #003569;
}

/* Adds top margin for extra space to separate h3 headings from any links above them, without removing the bottom margin specified above */
h3 {
    margin-top: 1em;

    font-size: 1.5em;
}

/* Makes "smaller" heading levels thinner than h1s and h2s & boldens text with the <strong> tags */
h3, h4, h5, h6, 
strong {
    font-weight: 600;
}

p {
    margin: 0 0 1em;

    line-height: 1.5;
}


/* ====================
	Links
==================== */
/* Sets text-decoration to "none" so it can be purposefully reapplied later to only specific links */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    color: #003569; 
    text-decoration: underline;
}

a:active {
    color: #021529;
}

/* Styles applied with :focus-visible only (no :focus) so they are only applied when focusing on a link by tabbing to it, not by clicking with a mouse */
a:focus-visible {
    color: #003569;

    background-color: #d7e7f7;
    outline: 2px solid #003569;
}

a:not(.hero a, .btn-outline):focus-visible {
    padding: .25em;
}

/* Styling for brand name link */
.brand {
    font-size: 1.5em;
    color: #000;
}

.brand:hover {
    color: #003569;
}

.brand:active {
    color: #021529;
}

.brand:focus-visible {
    color: #003569;
    text-decoration: none;
}

nav a,
.brand,
.hero a,
.btn-outline {
    font-weight: 600;
}

.hero-actions {
    padding: .75em 0 2em;
}

.hero a:first-of-type {
    margin-right: .5em;
}

/* Adds spacing and borders to button-like elements; changed to have a background color instead of a border to look more like a button*/
.hero a,
.btn-outline {
    padding: .5em .75em;

    width: 200px;

    color: #fff;
    text-align: center;

    background-color: #0066cc;
}

.hero a:hover,
.btn-outline:hover,
.hero a:focus-visible,
.btn-outline:focus-visible {
    background-color: #003569;
}

.hero a:hover,
.hero a:focus-visible,
.hero a:active,
.btn-outline:hover,
.btn-outline:focus-visible,
.btn-outline:active {
    color: #fff;
    text-decoration: none;

    outline: none;
}

.hero a:active,
.btn-outline:active {
    background-color: #021529;
}

.skip-link {
    display: block;

    padding: 1em 5em;
}

.skip-link,
.text-link {
    text-decoration: underline;
}

/* Removes underline when focusing on links with a keyboard for visual consistency; only using :focus-visible so the underline remains when focusing with a mouse, like with other links */
.skip-link:hover,
.text-link:hover,
.skip-link:focus-visible,
.text-link:focus-visible {
    text-decoration: none;
}


/* ====================
	Navigation
==================== */
/* Removes list markers; allows left side of nav & footer links to be flush with other site content */
nav ul,
footer ul {
    padding: 0;

    list-style-type: none;
}

/* Organizes navigation links (navbar & footer) into a single line; adds space between nav links and the text above them; margin-right adds space between the links */
nav li,
footer li {
    display: inline-block;

    padding-top: .75em;
    margin-right: 1em;

    text-align: center;
}

/* removes margin-right from the last navigation link */
nav li:last-of-type,
footer li:last-of-type {
    margin-right: 0;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:active {
    font-weight: 600;
}

footer a:active,
footer a:hover {
    color: #aed6ff;
}

footer a:active,
footer a:hover,
footer a:focus-visible {
    text-decoration: none;
}


/* ====================
	Sections
==================== */
/* Changed text color and weight for legibility on dark bg; removes additional space between fineprint text and links */
footer p {
    margin-bottom: 0;

    font-weight: 600;
    color: #fff;
}

.site-nav {
    position: relative;

    padding-bottom: 1em;
}

.nav-list {
    position: absolute;
    right: 0;
    bottom: 1em;
}

.tile {
    position: relative;

    padding: 2em 3em;
    margin-bottom: 2em;

    border: 2px solid #0066cc;
    border-radius: 1em;
}

/* Removes top margin from h3 in the cards only*/
.tile h3 {
    margin-top: 0;
}

/* Removes additional space under paragraphs in the "Get Involved" cards */
.tile p {
    margin-bottom: 0;
}

.tile .btn {
    position: absolute;
    top: 50%;
    right: 3em;    
    transform: translate(0, -50%);
}

/* Adds space between the links and ul in the Hero section, and between the donation notes and the form */
.hero-highlights,
.donation-notes {
    margin-bottom: 1em;
}

/* Removes only the bottom margin (added with the p selector) in paragraphs at the end of the Impact and Donate sections for section spacing consistency */
.quote-attrib,
.donate .fineprint {
    margin-bottom: 0;
}

/* Adds space between the form button and the form fineprint */
.donate .fineprint {
    margin-top: 1em;
}


/* ====================
	Form Fields
==================== */
label {
    margin-right: .25em; 
}

/* Applies body font-family and font-size to form input boxes; adds breathing room to the text inside the button & in the input/textarea fields */
button,
input,
textarea {
    padding: .25em .5em;

    font: inherit;
}

input:hover,
input:focus, 
textarea:hover,
textarea:focus {
    outline: 2px solid #003569;
}


button:hover,
button:active,
button:focus-visible {
    font-style: italic;
    text-decoration: underline;

    outline: 2px solid #003569;
}

.field {
    margin-bottom: 1em;
}

.radio-row {
    padding: .25em 0;
}


/* ====================
    Backgrounds & Gradients
==================== */
/* Adds faint background color to alternating sections */
section:nth-child(odd) {
    background-color: #e0edfa52;
}

footer {
    background-color: #203041;
}

.hero {
    padding: 8em 0;

    background: 
        linear-gradient(to bottom, rgba(179, 207, 236, 0.8), rgb(255, 255, 255)),
        url("../images/supplies.jpg")
        /* url("https://ccmx290.github.io/harbor-hope-initiative/images/") */;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ====================
    Layout Spacing 
==================== */
section,
footer {
    padding: 3em 0;
}

/* Used padding only for sides of container-class sections */
.container {
    padding-left: 5em;
    padding-right: 5em;
    margin-inline: auto;

    max-width: 1200px;
}


/* ====================
    Media Queries
==================== */
@media screen and (max-width: 600px) {
    /* Reduces side padding at smaller sizes */
    .skip-link,
    .container {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
}

/* Prevents links from wrapping when resized to smaller sizes, until I can add flexbox */
@media screen and (max-width: 950px) {
    nav li {    
    display: block;

    margin-right: 0;

    text-align: start;
    }

    .site-nav {
        position: relative;
    }

    .nav-list {
        position: relative;
        top: 0;
        left: 0;
    }
    
    .tile {
        position: relative;

        text-align: center;
    }

    .tile p {
        margin-bottom: 1.5em;
    }

    .tile .btn {
        position: relative;
        top: 0;
        left: 0;
    }
}